@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Inter;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-statistic {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
